.ProductCart{ 
    display:flex; 
    align-items:center;
    justify-content:center;
    box-sizing:border-box;
    background-color: white;
    box-shadow: 0px 0px 50px lightgray;
    color: black;
    cursor:pointer;
}
.ProductCartButton{ 
    padding: 5px;
    box-sizing:border-box;
}
.ProductCardWindow{ 
    width:200px;
    display:none;
    background-color: white;
    box-shadow:0px 0px 50px lightgray;
    position:absolute; 
    top: 100%;
    right: 8%;
    padding: 10px;
}
.ProductCardItem{
    display:flex;
    flex-direction:row;
    border: 1px solid lightgray;
    border-radius:5px;
    margin: 2px;
    padding:2px;

}
.ProductCardItem > * { 
    width: 50%;
}
.ProductCardItem > div{ 
    display:flex;
    flex-direction:row;
    margin:0px 10px;
}

.ProductCardItem > div > input { 
    text-align:center;
    width:20px;
    height:20px;
    border:none;
}
.ProductCardItem > div> input:nth-child(2){ 
    width:40px;
}

