
.ProductDetail{ 
    height: 100%;
    padding: 50px;
    margin-top: 10vh;
    display:flex; 
    flex-direction:row; 
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}

.ProductDetailImg{ 
    width: 300px;
}

.ProductInformation { 
    width: 50%;
    margin:20px;
}
.ProductInformation > * { 
    margin: 10px;
}

.ProductInformationTitle > h3, 
.ProductInformationDescription > h4{ 
    font-weight:600;
}
.ProductInformationTitle > p , 
.ProductInformationDescription > p{ 
    margin: 10px;
}
.ProductInformationPrice { 
    font-weight: 1000;
}
.ProductInformationAddProductToCart{
    border:none;
    box-shadow: 0px 0px 10px gray;
    background-color:white;
    padding:10px;
}
