@import-normalize;
.App {
    height: 100vh;
    box-sizing:border-box;
}

.logo {
    margin:10px;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    color: black;
    align-items:center;
}

.topbar {
    position: absolute;
    top: 0px;
    z-index: 10;
    justify-content:center;
}

.topbar,
.Navbar,
.Navbar > *,
.logo {
    display: flex;
}

.Navbar {
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
.Navbar > * {
    text-decoration: none;
    color: black;
    margin: 5%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Navbar > *:hover {
    background: gray;
}
.topbar {
    width: 100%;
    height: 5vh;
    position: absolute;
    background-color: lightgray;
}
.NavBarCategories > div { 
    display:none;
    position: absolute;
    top:25px;
    background-color: white; 
    padding: 10px;
}
.NavBarCategories:hover > div { 
    display:block; 
}
.NavBarCategories > div > p:hover { 
    background-color: gray;
    cursor: pointer;

}
