.LoginScreenMain { 
    height: 100vh;
    width: 100vw;
    display:flex; 
    flex-direction:column;
    justify-content: center ;
    align-items:center;
}
.LoginScreenWindow{ 
    height: 50vh;
    min-height: 200px;
    width: 30vw;
    min-width: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0px 10px 50px 0px lightgray;
    display:flex; 
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.LoginScreenWindowButton { 
    margin: 10px;
}
