.AllProductsComponent {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.ProductCard {
    width: 13vw;
    min-width:160px;
    height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: lightgray;
    border-radius: 10px;
}
.ProductCardImage {
    width: 100%;
    height: 50%;
    object-fit: contain;
}
.ProductCardText { 
    overflow-y: auto; 
    overflow-x: hidden;
    box-sizing: border-box;
    width: 90%;
    
}
